* {
    margin: 0px;
    padding: 0px;
    /* background-color: black;
    color: white; */
}



.header {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    background-image: url(../assets/aboutDLC/1714130391-outdoor-adventures-in-the-caribbean.jpg);
    background-size: cover;
    /* Adjusts the size of the image */
    background-position: center;
    /* Centers the image */

    /* Set the width as needed */
    height: 85vh;
    /* Set the height as needed */
    opacity: 0.9;
    /* justify-content: space-around;
    align-items: center; */
    /* height: 70vh; */


}

.content {
    /* border: 1px solid red; */
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: start;

}

.header img {
    /* border: 1px solid red; */
    margin-left: 10px;
    height: 150px;

}

.header ul {
    /* border: 1px solid red; */
    height: 20px;
    width: 60vw;
    display: flex;
    justify-content: end;
    font-size: small;
    flex-direction: row;
    list-style-type: none;
    /* Removes the bullets */
    gap: 40px;
    font-family: "Roboto", sans-serif;
    padding-top: 60px;
}

.center_content {
    /* border: 1px solid red; */
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 65px;
}

.baseline {
    /* border: 1px solid red; */
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: end;

}
.baseline p{
    /* border: 1px solid green; */
    margin-left: 40px;
    color: white;
    font-family: "Roboto", sans-serif;

}
.baseline svg{
    /* border: 1px solid red; */
    height: 40px;
    width: 40px;
    border-radius: 30px;
    background-color: white;
    color: black;
    margin-right: 40px;

}

.main_content {
    /* border: 1px solid green; */
    height: 100%;

}

.section1 {
    /* border: 2px solid blue; */
    height: 60vh;
    width: 40%;
    display: flex;
    text-align: center;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 30%;


}

.section2 {
    /* border: 1px solid brown; */
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.class1 {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



}

.section2 h3 {
    /* border: 1px solid red; */
    height: 60px;
    width: 30vw;
    display: flex;
    margin-left: 60px;
    /* margin-top: 42vh; */
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: xx-large;
    padding-left: 30px;

}

.section2 p {
    /* border: 1px solid green; */
    height: 25vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    font-size: large;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    opacity: 0.5;
}

.section3 {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
}

.section3 h2 {
    /* border: 1px solid red; */
    height: 30vh;
    display: flex;
    /* justify-content:space-around; */
    align-items: center;
    padding-left: 60px;
    font-size: xx-large;
    font-family: "Roboto", serif;

}

.arrows {
    /* border: 1px solid green; */
    margin-left: 100vh;

}

.images {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.img {
    /* border: 2px solid red; */
    height: 140vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40vh;
}

.section4 {
    /* border: 1px solid blue; */
    height: 170vh;
    background-color: black;
    color: white;
}

.Discovery_story {
    /* border: 1px solid red; */
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.Discovery_story h3 {
    font-size: xx-large;

}

.Discovery_story p {
    font-size: larger;
    font-family: "Roboto", sans-serif;

}

.Discovery_story button {
    /* border: 1px solid red; */
    height: 40px;
    width: 100px;
    background-color: black;
    color: white;
    outline: white;

}

.section4 img {
    /* border: 1px solid green; */
    height: 90vh;
    width: 80%;
    padding: 80px 120px;
}

.Discovery_Builders {
    /* border: 1px solid red; */
    height: 140vh;
    display: flex;
}

.div1 {
    /* border: 1px solid green; */
    height: 120vh;
    width: 42vw;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;

}

.div1 h3 {
    /* border: 1px solid red; */
    height: 35vh;
    width: 30vw;
    display: flex;
    justify-content: start;
    align-items: end;
    font-size: x-large;
    padding-bottom: 5px;
}

.div1 p {
    /* border: 1px solid green ; */
    height: 40vh;
    width: 30vw;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: medium;
    font-family: "Roboto", sans-serif;
    opacity: 0.5;
}

.button {
    /* border: 1px solid red; */
    width: 30vw;
    height: 32vh;
    padding-top: 20px;
}

.div1 button {
    border: 1px solid black;
    height: 40px;
    width: 110px;
    margin-left: 5px;
    background-color: white;
}

.div2 {
    /* border: 1px solid green; */
    width: 49vw;
    display: flex;
    justify-content: right;
    padding-right: 80px;
    padding-top: 18vh;
}

.image2 {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/aboutDLC/1715078664-golf-hole-9.jpg );
    background-size: cover;
    /* Adjusts the size of the image */
    background-position: center;
    /* Centers the image */

    /* Set the width as needed */
    height: 85vh;
    /* Set the height as needed */
    opacity: 0.9;
    color: white;



}

.image2 p {
    /* border: 1px solid red; */
    font-size: 10ch;
    font-family: "Roboto", sans-serif;
}

.image2 u {
    /* border: 1px solid green; */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.footer {
    /* border: 1px solid red; */
    height: 450px;
    background-color: black;
    color: white;
}

.upper_sec {
    /* border: 1px solid red; */
    height: 70%;
    display: flex;

}

.lower_sec {
    /* border: 2px solid blue; */
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    padding-left: 30px;
    padding-right: 30px;

}

.left_sec {
    /* border: 1px solid green; */
    width: 30%;
}

.left_sec img {
    /* border: 1px solid green; */
    margin: 60px 60px;
}

.right_sec {
    /* border: 1px solid red; */
    width: 70%;
    list-style-type: none;
    /* Removes bullets */
    padding-left: 0;
    /* Removes any default left padding */
    margin: 0;
    /* Optional: removes default margin */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
}

.list1 {
    /* border: 1px solid red; */
    gap: 60px;

}