* {
    margin: 0px;
    padding: 0px;
}

.page_container {
    /* border: 1px solid red; */
    height: 100vh;
}

.header {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    background-image: url(../assets/aboutDLC/1714130391-outdoor-adventures-in-the-caribbean.jpg);
    background-size: cover;
    /* Adjusts the size of the image */
    background-position: center;
    /* Centers the image */

    /* Set the width as needed */
    height: 85vh;
    /* Set the height as needed */
    opacity: 0.9;
    /* justify-content: space-around;
    align-items: center; */
    /* height: 70vh; */


}

.content {
    /* border: 1px solid red; */
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: start;

}

.header img {
    /* border: 1px solid red; */
    margin-left: 10px;
    height: 150px;

}

.header ul {
    /* border: 1px solid red; */
    height: 20px;
    width: 60vw;
    display: flex;
    justify-content: end;
    font-size: small;
    flex-direction: row;
    list-style-type: none;
    /* Removes the bullets */
    gap: 40px;
    font-family: "Roboto", sans-serif;
    padding-top: 60px;
}

.center_content {
    /* border: 1px solid red; */
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 65px;
}

.baseline {
    /* border: 1px solid red; */
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: end;

}

.baseline p {
    /* border: 1px solid green; */
    margin-left: 40px;
    color: white;
    font-family: "Roboto", sans-serif;

}

.baseline svg {
    /* border: 1px solid red; */
    height: 40px;
    width: 40px;
    border-radius: 30px;
    background-color: white;
    color: black;
    margin-right: 40px;

}

.main_content {
    /* border: 1px solid green; */
    height: 100%;
}

.section1 {
    /* border: 1px solid red; */
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: space-around;



}

.welcome_to_discovery {
    /* border: 1px solid green; */
    height: 80vh;
    width: 30vw;




}

.welcome_to_discovery h2 {
    /* border: 1px solid blue; */
    height: 15vh;
    font-size: xx-large;
    display: flex;
    align-items: center;

}

.welcome_to_discovery p {
    /* border: 1px solid red; */
    height: 35vh;
    font-size: larger;
    opacity: 0.5;

}

.Welcome {
    /* border: 1px solid green; */
    margin-top: 22vh;
}

.section2 {
    /* border: 1px solid red; */
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our_world {
    /* border: 1px solid blue; */
    height: 20vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.our_world p {
    /* border: 1px solid green; */
    font-size: xx-large;
}

.our_world b {
    /* border: 1px solid red; */
    font-size: xx-large;
}
.images{
    border: 1px solid red;
    height: 100vh;
}
